/* ป้องกันการเลื่อนหน้าจอซ้ายขวาในโหมด responsive */
html, body {
  overflow-x: hidden;
}

/* กำหนดขนาดของวิดีโอให้ปรับตามหน้าจอ */
.video-container {
  max-width: 100%;
  overflow: hidden;
}

video {
  max-width: 100%;
  height: auto;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

/* ปุ่มเช็คชื่อ */
.btn {
  width: 100%;
  max-width: 400px;
}
